/** Fonts */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap');

/** Variables */
:root {
  /* Colours */
  --background: #f7f6f1;
  --black: #555;
  --gold: #f09a59;
  --light-gold: #f5c082;
  --purple: #e350cb;
  --text-disable: #e5e5e5;
  --text-disable: #e5e5e5;
  --text-grey: #979797;
  --white: #fff;

  /* Breakpoints */
  --large: 1200px;
}

/** Base Styles */
html {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background);
}

h1,
h2,
h3 {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 500;
  margin: 16px 0;
}

h1,
h2 {
  font-size: 46px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin: 18px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

center,
li {
  box-sizing: border-box;
}
